<div>
    <h2 id="page-heading">
        <span jhiTranslate="applicantRegistrationApp.applicant.home.title">Applicants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-applicant" [routerLink]="['/applicant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="applicantRegistrationApp.applicant.home.createLabel">
            Create new Applicant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applicants">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="first_name"><span jhiTranslate="applicantRegistrationApp.applicant.first_name">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="last_name"><span jhiTranslate="applicantRegistrationApp.applicant.last_name">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="applicantRegistrationApp.applicant.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone_number"><span jhiTranslate="applicantRegistrationApp.applicant.phone_number">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicant of applicants ;trackBy: trackId">
                <td><a [routerLink]="['/applicant', applicant.id, 'view' ]">{{applicant.id}}</a></td>
                <td>{{applicant.first_name}}</td>
                <td>{{applicant.last_name}}</td>
                <td>{{applicant.email}}</td>
                <td>{{applicant.phone_number}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/applicant', applicant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/applicant', applicant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'applicant', { outlets: { popup: applicant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="applicants && applicants.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
